.card{
 position:relative;
 transition: all 1s linear;
 transform-style: preserve-3d;
}
/* .card:hover{
 transform:rotateY(180deg);
} */
.front-card{
 position:absolute;
 width:100%;
 height:100%;
 object-fit: cover;
 backface-visibility: hidden;
}

.back-card{
 position:absolute;
 width:100%;
 height:100%;
 object-fit: cover; 
 transform:rotateY(180deg);
 backface-visibility: hidden;
}

